<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>title11111111111111111111111111111111110000000</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>2.jpg</string>
		<key>middleImage</key>
		<string>2.jpg</string>
		<key>rightImage</key>
		<string>2.jpg</string>
		<key>info</key>
		<string>凤凰新闻网 发布于15:00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title2</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>3.jpg</string>
		<key>middleImage</key>
		<string>3.jpg</string>
		<key>rightImage</key>
		<string>3.jpg</string>
		<key>info</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title3</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>4.jpg</string>
		<key>middleImage</key>
		<string>4.jpg</string>
		<key>rightImage</key>
		<string>4.jpg</string>
		<key>info</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title4</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>5.jpg</string>
		<key>middleImage</key>
		<string>5.jpg</string>
		<key>rightImage</key>
		<string>5.jpg</string>
		<key>info</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title5</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>5.jpg</string>
		<key>middleImage</key>
		<string>5.jpg</string>
		<key>rightImage</key>
		<string>5.jpg</string>
		<key>info</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title6</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>6.jpg</string>
		<key>middleImage</key>
		<string>6.jpg</string>
		<key>rightImage</key>
		<string>6.jpg</string>
		<key>info</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title7</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>6.jpg</string>
		<key>middleImage</key>
		<string>6.jpg</string>
		<key>rightImage</key>
		<string>6.jpg</string>
		<key>info</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title8</string>
		<key>imageType</key>
		<integer>1</integer>
		<key>leftImage</key>
		<string>6.jpg</string>
		<key>middleImage</key>
		<string>6.jpg</string>
		<key>rightImage</key>
		<string>6.jpg</string>
		<key>info</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title9longlonglonglnoooooooooo00000000000000000000000000</string>
		<key>imageType</key>
		<integer>1</integer>
		<key>leftImage</key>
		<string>6.jpg</string>
		<key>middleImage</key>
		<string>6.jpg</string>
		<key>rightImage</key>
		<string>6.jpg</string>
		<key>info</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title10</string>
		<key>imageType</key>
		<integer>2</integer>
		<key>leftImage</key>
		<string>6.jpg</string>
		<key>middleImage</key>
		<string>6.jpg</string>
		<key>rightImage</key>
		<string>6.jpg</string>
		<key>info</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>title11</string>
		<key>imageType</key>
		<integer>1</integer>
		<key>leftImage</key>
		<string>6.jpg</string>
		<key>middleImage</key>
		<string>6.jpg</string>
		<key>rightImage</key>
		<string>6.jpg</string>
		<key>info</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>衣物清洁护理</string>
		<key>imageType</key>
		<integer>1</integer>
		<key>leftImage</key>
		<string>005.jpg</string>
		<key>middleImage</key>
		<string>厨卫清洁</string>
		<key>rightImage</key>
		<string>11</string>
		<key>info</key>
		<string></string>
	</dict>
</array>
</plist>
